.wrapper__orders{
    display: flex;
    flex-direction: column;
    width: 183px;
    height: 220px;
    background-color: #1C243F;
    margin-right: 10px;
}
.wrapper__orders h4{
    color: white;
    font-weight: 500;
    margin-bottom: -15px;
    margin-left: 20px;
}
.wrapper__orders h3{
    color: #FF814A;
    font-weight: 500;
    margin-bottom: -15px;
    margin-left: 20px;
}

.wrapper__orders__charts{
    display: flex;
    justify-content: center;
    align-items: center;
}