.layout {
    width: 100%;
    max-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #171E37;
    width: 150px;
    display: flex;
    flex-direction: column;
}
.sidebar__logo >p {
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 10px;
    justify-content: center;
}

.sidebar__list >ul >li {
    list-style: none;
    color: #6C747D;
    font-style: inter;
    margin-bottom: 24px;
}

.content{
    background-color: #151A2E;
    max-height: 100vh;
    width: calc(100vw - 150px);
    overflow: auto;
}

.content__home{
    display: flex;
    justify-content: center;
    
}